<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="/manifest.json" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#448aff">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#448aff">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="Description" content="UK map of confirmed cases for each week. Level of detail is local area. MSOA. Medium level super output area.">
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    #spark {
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      pointer-events: none;
    }
    .slider {
      width: 50%;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      position: absolute;
      bottom: 35px;
      right: 10px;
    }

    .slider:hover {
      opacity: 1;
    }

    #date {
      overflow: hidden;
      position: absolute;
      right: 50px;
      top: 10px;
      padding: 2px;
      background: white;
      pointer-events: none;
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <canvas id="spark"></canvas>
  <div id="date"></div>
  <input type="range" min="5" max="100" value="50" class="slider" id="myRange">

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch"></script>
  <script src="/{{ scriptFile }}"></script>
</body>